bin/
build/
classes/
dist/
docs/
tests/classes/
tests/output/
lib/
/.fudge-proto-gitignore
/MANIFEST.MF
build.number
.idea/artifacts/org_fudgemsg_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/.name
.idea/libraries/commons_beanutils_1_9_4.xml
.idea/libraries/commons_codec_1_15.xml
.idea/libraries/json_20210307.xml
.idea/libraries/junit_jupiter_api_5_7_2.xml
.idea/libraries/mongo_java_driver_3_12_9.xml
.idea/libraries/opentest4j_1_2_0.xml
.idea/libraries/reflections_0_10_2.xml
.idea/libraries/scannotation_1_0_3.xml
.idea/libraries/threetenbp_1_5_1.xml
.idea/libraries/time_api_0_6_3.xml
